services:
  app:
    build:
      context: .
      dockerfile: ./cmd/gif-maker/Dockerfile
    restart: always
    env_file:
      - .env
    environment:
      - CONFIG_PATH=./config/dev.yml
      - WORKER_POOL_SIZE=2
    ports:
      - 8080:8080
    depends_on:
      tg_api_server:
        condition: service_started

  tg_api_server:
    build:
      context: . 
      dockerfile: ./cmd/telegram-bot-api/Dockerfile
    restart: always
    env_file:
      - .env
    ports:
      - "8081:8081" 
    volumes:
      - tg_api_data:/var/lib/telegram-bot-api
    command: 
      - --api-id=${API_ID} 
      - --api-hash=${API_HASH}
      - --local
      - --http-port=8081
      - --allow-user-bot-tg-id=${ADMIN_TG_ID}
      - --dir=/var/lib/telegram-bot-api

volumes:
  tg_api_data: